<div class="container">

<h1>Home Page</h1>
<p>About Ponugupadu</p>
<p>A Great place to live on</p>

<br/>

<a href="https://www.facebook.com/" target="blank">
  <%=image_tag("1449887382_square-facebook.png") %> </a>

<a href="https://www.twitter.com/" target="blank">
  <%=image_tag("1449887393_square-twitter.png") %> </a>

<a href="https://www.plus.google.com/" target="blank">
  <%=image_tag("1449887410_circle-google-plus.png") %> </a>

<br />

</div>
